h1, h2, h3, h4, h5, h6 {
  font-family: 'Arial Black', cursive;
}

span.arialBlack { font-family: 'Arial Black', cursive; }

.app {
  max-width: 720px;
  margin: 0 auto;
  /* text-align: center; */
}

.header { font-size: 60px; font-family: 'Arial Black', cursive; }
.subheader { font-size: 20px; font-family: 'Arial Black', cursive; }

a.link {
  text-decoration: none;
  color: #ff1769;
}

.initialVisible {     
  opacity: 1;
}

.initialInvisible {     
  opacity: 0;
}

.fadeIn {   
  opacity: 1; 
  transition: opacity 1s;  
}

.fadeOut {   
  opacity: 0; 
  transition: opacity 0.3s;
}

a.link:hover {
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.input-element{
  /*padding: 10px;
   border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none; */
  cursor: pointer;
  font-size: 15px;
  font-family: 'Arial Black', cursive;  
  color: #137e81;
}

.dataLabel
{
  font-size: 15px;
  font-family: 'Arial Black', cursive;  
  color: #137e81;
}

.input-element:focus {
  outline: none;
}